body {
  margin: 0;
  padding: 0;
  background-color: #d9cfba;
  color: #54504a;
}
.header {
  margin-left: 30px;
}

.debug {
  width: 300px;
  height: 300px;
  position: fixed;
  left: 40%;
  top: 40px;
}

.error {
  color: red;
}

.ship-placement {
  margin-left: 30px;
}

.game-grid table, th, td {
  border-style: solid;
  border-width: 2px;
}

.game-grid table {
  display: inline;
  height: 500px;
  width: 500px;
}

.game-grid th, td {
  height: 50px;
  width: 50px;
}

.hit {
  background-color: #D20000;
  border-color: #D20000;
}

.miss {
  background-color: #0092D2;
  border-color: #0092D2;
}

.ship {
  background-color: #00D20A;
  border-color: #00D20A;
}

.grid {
  margin: 30px 30px 30px 30px;
  display: inline-table;
}
